html,body{
    height: 100%;
    width: 100%;
}
.button{
    padding: 20px;
}
body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.container {
    width: 250px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f7f7f7;
}

.row {
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
}

.button {
    width: 50px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
}

.input {
    width: 100%;
    height: 40px;
    font-size: 24px;
    text-align: right;
    padding: 10px;
    margin-bottom: 20px;
}
